media/n8n/P2PMigration/Work Distributor.json
{
  "name": "Work Distributor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2400,
        0
      ],
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=http://3.95.58.90/api/v1/executions?status=running&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhNTQyOWZjYi1iN2MwLTRjOTMtYTAyZi04ZmQzYjU4Y2U4ZjgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY0Nzg0ODI1LCJleHAiOjE3NjczMzAwMDB9.TT4b5KxsiK4kKQGDSfwTv--4hTSvJhseLQoWrFfl-3s"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2200,
        0
      ],
      "id": "check-running-001",
      "name": "Check Running Executions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-data-empty",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        0
      ],
      "id": "if-running-001",
      "name": "Is Any Worker Running?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-access-token",
              "name": "access_token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NjQxOThmNy01OWM4LTQwMzktYTEzYy0zZWFlMGIwMTUxMmUiLCJleHAiOjE3NjUzMTM5ODYsInR5cGUiOiJhY2Nlc3MifQ.AE1u-aFmgOj6KZ1mJFC6___tz-cySurDFkPrQ0MtO40",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1800,
        0
      ],
      "id": "access-token-001",
      "name": "Set Access Token"
    },
    {
      "parameters": {
        "url": "http://54.87.173.234:8000/api/v1/contacts/?limit=25000&offset=0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1600,
        0
      ],
      "id": "fetch-contacts-001",
      "name": "Fetch Contacts List"
    },
    {
      "parameters": {
        "jsCode": "// Extract UUIDs from API response\nconst response = $input.first().json;\n\n// Handle different response structures\nlet contacts = [];\nif (Array.isArray(response)) {\n  contacts = response;\n} else if (response.data && Array.isArray(response.data)) {\n  contacts = response.data;\n} else if (response.results && Array.isArray(response.results)) {\n  contacts = response.results;\n} else if (response.items && Array.isArray(response.items)) {\n  contacts = response.items;\n}\n\n// Extract UUIDs\nconst uuids = contacts.map(contact => {\n  return contact.uuid || contact.id || null;\n}).filter(uuid => uuid !== null);\n\nreturn [{\n  json: {\n    uuids: uuids,\n    total_count: uuids.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1400,
        0
      ],
      "id": "extract-uuids-001",
      "name": "Extract UUIDs"
    },
    {
      "parameters": {
        "jsCode": "// Split 25,000 UUIDs into chunks of 250\nconst uuidArray = $input.first().json.uuids;\nconst chunkSize = 250;\n\n// Safety check\nif (!Array.isArray(uuidArray)) {\n  throw new Error(\"Expected an array at $input.first().json.uuids\");\n}\n\n// Create chunks of 250\nconst chunks = [];\nfor (let i = 0; i < uuidArray.length; i += chunkSize) {\n  const chunk = uuidArray.slice(i, i + chunkSize);\n  if (chunk.length > 0) {\n    chunks.push({\n      json: {\n        chunk_index: chunks.length,\n        chunk_size: chunk.length,\n        uuids: chunk\n      }\n    });\n  }\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "id": "split-chunks-001",
      "name": "Split Into 250-Contact Chunks"
    },
    {
      "parameters": {
        "jsCode": "// Distribute 100 chunks to 10 workers using round-robin\nconst numWorkers = 10;\nconst items = $input.all();\n\n// Group chunks by worker using round-robin\nconst workerChunks = {};\n\nitems.forEach(item => {\n  const workerNum = (item.json.chunk_index % numWorkers) + 1;\n  if (!workerChunks[workerNum]) {\n    workerChunks[workerNum] = [];\n  }\n  workerChunks[workerNum].push(item.json);\n});\n\n// Output one item per worker with all their chunks\nconst output = [];\nfor (let workerNum = 1; workerNum <= numWorkers; workerNum++) {\n  if (workerChunks[workerNum] && workerChunks[workerNum].length > 0) {\n    output.push({\n      json: {\n        worker: `worker ${workerNum}`,\n        chunks: workerChunks[workerNum],\n        total_chunks: workerChunks[workerNum].length,\n        total_contacts: workerChunks[workerNum].reduce((sum, chunk) => sum + chunk.chunk_size, 0)\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        0
      ],
      "id": "distribute-workers-001",
      "name": "Distribute to Workers"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-1-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-2-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-3-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-4-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-5-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-6-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 6"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 7",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-7-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 7"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 8",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-8-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 8"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-9-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 9"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.worker }}",
                    "rightValue": "worker 10",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "worker-10-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "worker 10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1000,
        0
      ],
      "id": "switch-workers-001",
      "name": "Route to Workers"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        -400
      ],
      "id": "aggregate-worker-1",
      "name": "Aggregate Worker 1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        -300
      ],
      "id": "aggregate-worker-2",
      "name": "Aggregate Worker 2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ],
      "id": "aggregate-worker-3",
      "name": "Aggregate Worker 3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        -100
      ],
      "id": "aggregate-worker-4",
      "name": "Aggregate Worker 4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "aggregate-worker-5",
      "name": "Aggregate Worker 5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        100
      ],
      "id": "aggregate-worker-6",
      "name": "Aggregate Worker 6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        200
      ],
      "id": "aggregate-worker-7",
      "name": "Aggregate Worker 7"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        300
      ],
      "id": "aggregate-worker-8",
      "name": "Aggregate Worker 8"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        400
      ],
      "id": "aggregate-worker-9",
      "name": "Aggregate Worker 9"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "chunks",
              "renameField": true,
              "outputFieldName": "chunks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -800,
        500
      ],
      "id": "aggregate-worker-10",
      "name": "Aggregate Worker 10"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        -400
      ],
      "id": "call-worker-1",
      "name": "Call Worker 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        -300
      ],
      "id": "call-worker-2",
      "name": "Call Worker 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        -200
      ],
      "id": "call-worker-3",
      "name": "Call Worker 3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        -100
      ],
      "id": "call-worker-4",
      "name": "Call Worker 4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        0
      ],
      "id": "call-worker-5",
      "name": "Call Worker 5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        100
      ],
      "id": "call-worker-6",
      "name": "Call Worker 6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        200
      ],
      "id": "call-worker-7",
      "name": "Call Worker 7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        300
      ],
      "id": "call-worker-8",
      "name": "Call Worker 8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        400
      ],
      "id": "call-worker-9",
      "name": "Call Worker 9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "access_token": "={{ $('Set Access Token').item.json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -600,
        500
      ],
      "id": "call-worker-10",
      "name": "Call Worker 10"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Running Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Running Executions": {
      "main": [
        [
          {
            "node": "Is Any Worker Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Any Worker Running?": {
      "main": [
        [
          {
            "node": "Set Access Token",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Access Token": {
      "main": [
        [
          {
            "node": "Fetch Contacts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contacts List": {
      "main": [
        [
          {
            "node": "Extract UUIDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract UUIDs": {
      "main": [
        [
          {
            "node": "Split Into 250-Contact Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into 250-Contact Chunks": {
      "main": [
        [
          {
            "node": "Distribute to Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Distribute to Workers": {
      "main": [
        [
          {
            "node": "Route to Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Workers": {
      "main": [
        [
          {
            "node": "Aggregate Worker 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Worker 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 1": {
      "main": [
        [
          {
            "node": "Call Worker 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 2": {
      "main": [
        [
          {
            "node": "Call Worker 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 3": {
      "main": [
        [
          {
            "node": "Call Worker 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 4": {
      "main": [
        [
          {
            "node": "Call Worker 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 5": {
      "main": [
        [
          {
            "node": "Call Worker 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 6": {
      "main": [
        [
          {
            "node": "Call Worker 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 7": {
      "main": [
        [
          {
            "node": "Call Worker 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 8": {
      "main": [
        [
          {
            "node": "Call Worker 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 9": {
      "main": [
        [
          {
            "node": "Call Worker 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Worker 10": {
      "main": [
        [
          {
            "node": "Call Worker 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "p2p-distributor-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "p2p-distributor-workflow",
  "tags": [],
  "workflow_id": "Work Distributor"
}